<style>
  .header {
      background-color: #17aabf;
      padding: 10px 20px;
      display: flex;
      align-items: center;
  }
  .header h1 {
      color: black;
      font-size: 24px;
      margin: 0;
  }
  .header img {
      height: 40px;
      width: 40px;
      margin-right: 10px;
  }
</style>
<div class="fluid-container">
  <div class="header">
      <img src="https://images.vexels.com/media/users/3/128877/isolated/preview/b012e0730a5f9c0c4566d887bbed95d1-icono-de-television-plana.png" alt="Descripción de la imagen">
      <h2>TV Series</h2>
  </div>
  <form style="margin:10px;">
    <div class="form-row">
    </div>
  </form>
  <div class="row justify-content-center">
      <app-serie></app-serie>
  </div>
</div>